body {
    padding: 0 2em;
    background-color: #123123;
}

header {
    background-image: url(jp_topoFundo.jpg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.menu {
    width: 500px;
    height: 40px;
    background-image: url(jp_menuFundo.jpg);
    position: relative;
    top: -80px;
    left: 395px;
    border: 2px solid #ffff;
    border-radius: 20px 0px 20px 0px;
    text-align: center
}

header img {
    height: 150px;
    padding: 15px; 
}

header a {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.one {
   padding: 35px;
   background-color: white;
   margin: 0 auto;
}

.filmeOne {
    border: 5px solid #ff0000;
    float: left;
    position: relative;
    top: -10px;
}

.tituloOne {
    position: relative;
    left: 30px;
    top: 10px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.descricaoOne {
    width: 1100px;
    position: relative;
    left: 30px;
}

.two {
   padding: 35px;
   background-color: #555555;
   margin: 0 auto;
}

.filmeTwo {
    border: 5px solid yellow;
    float: right;
    position: relative;
    top: -10px;
}

.tituloTwo {
    position: relative;
    left: 0px;
    top: 10px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}

.descricaoTwo {
    width: 1100px;
    position: relative;
    right: 0px;
    color: white;
}

.three {
   padding: 35px;
   background-color: white;
   margin: 0 auto;
}

.filmeThree {
    border: 5px solid #ff0000;
    float: left;
    position: relative;
    top: -10px;
}

.tituloThree {
    position: relative;
    left: 30px;
    top: 10px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.descricaoThree {
    width: 1100px;
    position: relative;
    left: 30px;
}

.four {
   padding: 35px;
   background-color: #555555;
   margin: 0 auto;
}

.filmeFour {
    border: 5px solid yellow;
    float: right;
    position: relative;
    top: -10px;
}

.tituloFour {
    position: relative;
    left: 0px;
    top: 10px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}

.descricaoFour {
    width: 1050px;
    position: relative;
    right: 0px;
    color: white;
}

h1 {
    background-color: #550000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 35px;
    margin: 0%;
    font-size: 40px;
    font-family: fantasy;
}

.tabela {
    padding: 35px;
    background-image: url(jp_fundoSelva.jpg);
    margin: 0%;
    text-align: center;
    background-attachment: fixed;
}

.tituloPremios {
    position: relative;
    top: -9px;
    margin: 0 auto;
    color: white;
}

.tabelaPremios {
    position: relative;
    top: -8px;
    margin: 0 auto;
    width: 400px;
    height: 200px;
}

.thPremios {
    background-color: #333333;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.trPremios {
    text-align: center;
    background-color: #999999;
}

.trPremios2 {
    background-color: #dddd00;
}

.rodape {
    padding: 14px;
    background-image: url(jp_topoFundo.jpg);
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    color: white;
    font-size: 16px;
}
